body{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-rows: 1fr 2fr 2fr 1fr;
    gap: 5px;

}
body *{
    background-color: rgb(56, 219, 35);
    border: 1px solid black;
}
header{
    grid-column: 1/4;
}
#sc1{
    grid-row: 2/4;
}
#sc2{
    grid-column: 2/4;
}
footer{
    grid-column: 1/4;
}